p Hello dear #{userName}. Don`t worry everyone forgot something
| Your password in safe, but if you want change it please click here.
a(href=frontendURL + `/pass?token=` + token) | Click here

p If it was not you, inform us please.
